doctype
html
	head
		script(type='text/javascript', src='/javascripts/jquery.js')
		script(type='text/javascript', src='/javascripts/socket.io.js')
		link(rel='stylesheet', href='/stylesheets/styles.css').
		title= title
	body
		#headerdiv
			table(width="100%")
				tr
					td
						h1= title 
						hr
						h6= title2
					td(align="right")
						img(src="/images/tuiter.png").
		#separator
		div
			#lateral
				#bloque
					b Información Tuiter
			#content
				nav 
				#result
					each item in tuits
						div#tuit
							b #{item.name}.
							b @#{item.user}
							b - #{new Date(item.time)}
							hr
							br
							pre #{item.txt}
	
