extend layout
block content
	script(type='text/javascript', src= '/javascripts/tuits_load_home.js').
	.container
		.row
			// Sidebar Widgets Column
			.col-md-4
				// User description
				.card.my-4
					h5.card-header(name= 'user_id_content')= user_id
					.card-body
						table(style='width:100% ')
							tbody
								tr
									th Qweets
									th Qtags
								tr
									td 
										#no_qweets
									td 40
				// Comments Form
				.card.my-4
					h5.card-header Write your thoughts:
					.card-body
						form(action="/qweet/" method='post')
							.form-group
								textarea.form-control(name = 'qweetxt',rows='3')
							button.btn.btn-primary(type='submit') Qweet

			// Post Content Column
			.col-lg-8
				#result
					//- each item in tuits
					//- 	div#tuit
					//- 		b #{item.name}.
					//- 		b @#{item.user}
					//- 		b - #{new Date(item.time)}
					//- 		hr
					//- 		br
					//- 		pre #{item.txt}
		