extend layout
block content
	script(type='text/javascript', src= '/javascripts/tuits_load_profile.js').
	.container
		.row
			// Sidebar Widgets Column
			.col-md-4
				// User description
				.card.my-4
					h5.card-header(name= 'user_id_content')= user_id
					.card-body
						table(style='width:100% ')
							tbody
								tr
									th Qweets
									th Qtags
								tr
									td 
										#no_qweets 
											= totalqs
									td .
			// Post Content Column
			.col-lg-8
				#result
					each item in tuits
						div#tuit
							b #{item.username}.
							a(href="/user?id=#{item.username}") @#{item.username}
							b - #{new Date(item.fecha_creacion)}
							hr
							br
							pre #{item.tweet}