extend layout
block content
	.container
		.row
			// Sidebar Widgets Column
			.col-md-4
				// Search Widget
				.card.my-4
					h5.card-header Search
					.card-body
						form(action="/search" method='post')
							.input-group
								input.form-control(name = 'wordtxt', type='text', placeholder='Search qweet...')
								span.input-group-btn
									button.btn.btn-secondary(type='submit') Go!
            
			// Post Content Column
			.col-lg-8
				#result
					each item in tuits
						div#tuit
							b #{item.username}.
							a(href="/user?id=#{item.username}") @#{item.username}
							b - #{new Date(item.fecha_creacion)}
							hr
							br
							pre #{item.tweet}