extend layout
block content
	script(type='text/javascript', src= '/javascripts/tuits_load_trends.js').
	.container
		.row
			// Sidebar Widgets Column
			.col-md-4
				// Trending Widget
				.card.my-4
					h5.card-header Trending Qtags
					.card-body
						#trends
							.row
								div.col-lg-6
									ul.list-unstyled.mb-0
										each item, i in trendsn
											if (i < 3)
												li 
													a(href="/trend?id=#{item.hashtag.replace('#','')}") #{item.hashtag}
								div.col-lg-6
									ul.list-unstyled.mb-0
										each item, i in trendsn
											if (i >= 3)
												li 
													a(href="/trend?id=#{item.hashtag.replace('#','')}") #{item.hashtag}	
			// Post Content Column
			.col-lg-8
				#result
					each item in tuits
						div#tuit
							b #{item.username}.
							a(href="/user?id=#{item.username}") @#{item.username}
							b - #{new Date(item.fecha_creacion)}
							hr
							br
							pre #{item.tweet}
		
	
